In [13]:
import pandas as pd
import hashlib as hb

In [14]:
br_a = pd.read_csv('./data/1092_A-程式設計-Python_黃鈺晴教師.csv')
br_b = pd.read_csv('./data/1092_B-程式設計-Python_黃鈺晴教師.csv')

In [15]:
br_b

,Unnamed: 0,contents_name,operation_date,operation_name,page_no,marker_color,marker_text,memo_title,memo_text,userid,username,roleid
0,0,R1_課程目標與評分,2021-02-25 08:26:39,REGIST CONTENTS,10,NaN,NaN,NaN,NaN,6,anna,3.0
1,1,R2_Python學習活動,2021-02-25 08:28:02,REGIST CONTENTS,24,NaN,NaN,NaN,NaN,6,anna,3.0
2,2,R2_Python學習活動,2021-02-25 08:29:06,REGIST CONTENTS,0,NaN,NaN,NaN,NaN,6,anna,3.0
3,3,R3_OnlineJudge操作,2021-02-25 08:31:19,REGIST CONTENTS,8,NaN,NaN,NaN,NaN,6,anna,3.0
4,4,R4_BookRoll使用說明,2021-02-25 08:32:37,REGIST CONTENTS,20,NaN,NaN,NaN,NaN,6,anna,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...
253916,253916,程式期末考學生應試須知,2021-06-30 15:32:57,NEXT,2,NaN,NaN,NaN,NaN,16691,107409527,5.0
253917,253917,程式期末考學生應試須知,2021-06-30 15:32:58,NEXT,3,NaN,NaN,NaN,NaN,16691,107409527,5.0
253918,253918,程式期末考學生應試須知,2021-06-30 15:32:59,NEXT,4,NaN,NaN,NaN,NaN,16691,107409527,5.0
253919,253919,程式期末考學生應試須知,2021-06-30 15:33:00,NEXT,5,NaN,NaN,NaN,NaN,16691,107409527,5.0
253920,253920,程式期末考學生應試須知,2021-06-30 15:33:02,CLOSE,6,NaN,NaN,NaN,NaN,16691,107409527,5.0

In [3]:
br_a['class'] = 'a'
br_b['class'] = 'b'

In [4]:
br_df = pd.merge(br_a, br_b, how = 'outer')

In [5]:
br_df['username'] = br_df['username'].str.split('@',expand=True).get(0)
br_df = br_df[br_df['username'].str.isdigit() == True]
br_df = br_df[br_df['username'].apply(lambda x: len(str(x))>=9)]

In [6]:
br_df = br_df.drop(columns=['Unnamed: 0', 'userid', 'roleid'])

In [7]:
def md5(i):
    hl = hb.md5()
    
    hl.update(str(i).encode(encoding='utf-8'))

    #print('加密前為 ：' + str(i))
    #print('加密後為 ：' + hl.hexdigest())
    
    return hl.hexdigest()

br_df['username'] = br_df['username'].apply(md5)

In [8]:
def is_contains_chinese(strs):
    for _char in strs:
        if '\u4e00' <= _char <= '\u9fa5':
            return True
    return False

In [9]:
def Chinese(x):
    if x == 'R2_Moodle & Bookroll\x0b使用說明手冊':
        return 'R2_Moodle & Bookroll\x0bInstruction manual'
    if x == 'R4_OnlineJudge操作':
        return 'R4_OnlineJudge operate'
    if x == 'R1_課程目標與評分':
        return 'R1_Course objectives and scoring'
    if x == 'C1_1_Python程式語言介紹':
        return 'C1_1_Programming language introduction'
    if x == 'C1_2_變數':
        return 'C1_2_variable'
    if x == 'E1_3_輸入輸出':
        return 'E1_3_input output'
    if x == 'C1_3_輸入輸出':
        return 'C1_3_input output'
    if x == 'R3_Python學習活動':
        return 'R3_Python learning activity'
    if x == 'Q_C1_變數與輸入輸出_考古題':
        return 'Q_C1_Variables and Input output_archeology Questions'
    if x == 'C2_1_基本型態應用(算術運算)':
        return 'C2_1_Basic type application (arithmetic operation)'
    if x == 'C2_2_基本型態運用(String)':
        return 'C2_2_Basic type application (string)'
    if x == 'E2_2_基本型態應用(String)':
        return 'E2_2_Basic type application (string)'
    if x == 'Q_C2_基本型態的應用_考古題':
        return 'Q_C2_Basic type application_Archaeology Questions'
    if x == 'C3_1_List 列表':
        return 'C3_1_List'
    if x == 'C3_2_List常用方法':
        return 'C3_1_List common method'
    if x == 'E3_2_List常用方法':
        return 'E3_2_List common method'
    if x == 'HW1_題目與解題流程說明':
        return 'HW1_questions and problem solving process description'
    if x == 'L2_提問評分法則':
        return 'L2_Request scoring rule'
    if x == 'L1_SQ3R閱讀方法':
        return 'L1_SQ3R reading method'
    if x == 'VC1_2_變數':
        return 'VC1_2_variable'
    if x == 'VC1_3_input output':
        return 'E3_2_List common method'
    if x == 'VC2_1_基本型態應用(算術運算)	':
        return 'VC2_1_Basic type application (arithmetic operation)'
    if x == 'VC3_2_List常用方法':
        return 'VC3_2_List common method'
    if x == 'VC2_2_基本型態應用(String)':
        return 'VC2_2_Basic type application (string)'
    if x == 'VC3_1_List列表':
        return 'VC3_1_List'
    if x == 'HW1_A班_程式碼':
        return 'HW1_Class A_code'
    if x == 'C4_1_Dict字典':
        return 'C4_1_Dict'
    if x == 'E4_1_Dict字典':
        return 'E4_1_Dict'
    if x == 'VC4_1_Dict字典':
        return 'VC4_1_Dict'
    if x == 'C5_1_if判斷式':
        return 'C5_1_if judgment'
    if x == 'C5_2_巢狀與多向if判斷式':
        return 'C5_2_Nested and multi-directional if judgment'
    if x == 'E5_2_巢狀與多項if判斷式':
        return 'E5_2_Nested and multi-directional if judgment'
    if x == 'E5_1_if判斷式':
        return 'E5_1_if judgment'
    if x == 'QC3_List 列表_考古題':
        return 'QC3_List Archaeological question'
    if x == 'C6_1_list in for迴圈':
        return 'C6_1_list in for'
    if x == 'C6_2_range in for迴圈':
        return 'C6_2_range in for'
    if x == 'QC5_判斷結構_考古題':
        return 'QC5_Judgment structure_archaeological problem'
    if x == 'HW2_題目與解題流程說明':
        return 'HW2_questions and problem solving process description'  
    if x == 'OJ_HW2 錯誤類型':
        return 'OJ_HW2 type of error'
    if x == 'HW2_A班_程式碼':
        return 'HW2_Class A_code'
    if x == 'QC6_迴圈結構_考古題':
        return 'QC6_Loop structure_archaeological question'
    if x == 'Q_1092A_期中考':
        return 'C6_2_Midterm exam'
    if x == 'HW3_題目與解題流程說明':
        return 'HW3_questions and problem solving process description'
    if x == 'C7_1_def函式':
        return 'C7_1_def Function'
    if x == 'R6_遠距上課流程':
        return 'R6_Remote class process'
    if x == 'C7_2_函式與變數的可用位置':
        return 'C7_2_Available locations of functions and variables'
    if x == 'E7_2_函式應用':
        return 'E7_2_Function application'
    if x == '程式期末考學生應試須知':
        return 'Notes for students taking the final exam'
    if x == 'R2_Python學習活動':
        return 'R2_Python learning activity'
    if x == 'R4_BookRoll使用說明':
        return 'R4_BookRoll instructions for use' 
    if x == 'R3_OnlineJudge操作':
        return 'R3_OnlineJudge operate'
    if x == 'G_總成績':
        return 'G_Overall result'
    if x == 'HW1_B班_程式碼':
        return 'HW1_Class B_code'
    if x == 'Q_C3_List_考古題':
        return 'Q_C3_List_archaeological question'
    if x == 'Q_C5_if判斷式_考古題':
        return 'Q_C5_if judgment_archaeological question'
    if x == 'HW2_B班程式碼':
        return 'HW2_Class B code'
    if x == 'G_總成績':
        return 'G_Overall result'
    if x == 'HW1_B班_程式碼':
        return 'HW1_Class B_code'
    if x == 'Q_C6_迴圈結構_考古題':
        return 'Q_C6_Loop structure_archaeological question'
    if x == 'Q_1092B_期中考':
        return 'Q_1092B_Midterm exam'
    if is_contains_chinese(x) == False:
        return x
br_df['contents_name']= br_df['contents_name'].apply(Chinese)

In [10]:
br_df.to_csv('./output/br.csv', encoding='utf8', index=False)

In [11]:
br_df

,contents_name,operation_date,operation_name,page_no,marker_color,marker_text,memo_title,memo_text,username,class
3,R2_Moodle & Bookroll Instruction manual,2021-02-24 10:25:00,OPEN,1,NaN,NaN,NaN,NaN,b84f9624c8d995c6b945afc898bd9973,a
4,R2_Moodle & Bookroll Instruction manual,2021-02-24 10:25:02,NEXT,1,NaN,NaN,NaN,NaN,b84f9624c8d995c6b945afc898bd9973,a
5,R2_Moodle & Bookroll Instruction manual,2021-02-24 10:25:03,NEXT,2,NaN,NaN,NaN,NaN,b84f9624c8d995c6b945afc898bd9973,a
6,R2_Moodle & Bookroll Instruction manual,2021-02-24 10:25:04,NEXT,3,NaN,NaN,NaN,NaN,b84f9624c8d995c6b945afc898bd9973,a
7,R2_Moodle & Bookroll Instruction manual,2021-02-24 10:25:16,OPEN,1,NaN,NaN,NaN,NaN,379bbc4c2c728db0a249e8c4e6b621af,a
...,...,...,...,...,...,...,...,...,...,...
578902,Notes for students taking the final exam,2021-06-30 15:32:57,NEXT,2,NaN,NaN,NaN,NaN,f1641addf883c1130a801d06d07eef4c,b
578903,Notes for students taking the final exam,2021-06-30 15:32:58,NEXT,3,NaN,NaN,NaN,NaN,f1641addf883c1130a801d06d07eef4c,b
578904,Notes for students taking the final exam,2021-06-30 15:32:59,NEXT,4,NaN,NaN,NaN,NaN,f1641addf883c1130a801d06d07eef4c,b
578905,Notes for students taking the final exam,2021-06-30 15:33:00,NEXT,5,NaN,NaN,NaN,NaN,f1641addf883c1130a801d06d07eef4c,b
578906,Notes for students taking the final exam,2021-06-30 15:33:02,CLOSE,6,NaN,NaN,NaN,NaN,f1641addf883c1130a801d06d07eef4c,b

In [12]:
br_df

,contents_name,operation_date,operation_name,page_no,marker_color,marker_text,memo_title,memo_text,username,class
3,R2_Moodle & Bookroll Instruction manual,2021-02-24 10:25:00,OPEN,1,NaN,NaN,NaN,NaN,b84f9624c8d995c6b945afc898bd9973,a
4,R2_Moodle & Bookroll Instruction manual,2021-02-24 10:25:02,NEXT,1,NaN,NaN,NaN,NaN,b84f9624c8d995c6b945afc898bd9973,a
5,R2_Moodle & Bookroll Instruction manual,2021-02-24 10:25:03,NEXT,2,NaN,NaN,NaN,NaN,b84f9624c8d995c6b945afc898bd9973,a
6,R2_Moodle & Bookroll Instruction manual,2021-02-24 10:25:04,NEXT,3,NaN,NaN,NaN,NaN,b84f9624c8d995c6b945afc898bd9973,a
7,R2_Moodle & Bookroll Instruction manual,2021-02-24 10:25:16,OPEN,1,NaN,NaN,NaN,NaN,379bbc4c2c728db0a249e8c4e6b621af,a
...,...,...,...,...,...,...,...,...,...,...
578902,Notes for students taking the final exam,2021-06-30 15:32:57,NEXT,2,NaN,NaN,NaN,NaN,f1641addf883c1130a801d06d07eef4c,b
578903,Notes for students taking the final exam,2021-06-30 15:32:58,NEXT,3,NaN,NaN,NaN,NaN,f1641addf883c1130a801d06d07eef4c,b
578904,Notes for students taking the final exam,2021-06-30 15:32:59,NEXT,4,NaN,NaN,NaN,NaN,f1641addf883c1130a801d06d07eef4c,b
578905,Notes for students taking the final exam,2021-06-30 15:33:00,NEXT,5,NaN,NaN,NaN,NaN,f1641addf883c1130a801d06d07eef4c,b
578906,Notes for students taking the final exam,2021-06-30 15:33:02,CLOSE,6,NaN,NaN,NaN,NaN,f1641addf883c1130a801d06d07eef4c,b